@import url("https://fonts.googleapis.com/css2?family=Kablammo&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --color-primary: rgb(150, 0, 0);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Rubik", sans-serif;
}

/* start header items */
header {
  width: 100%;
  height: 80px;
  position: absolute;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
}

header .name {
  font-family: "Kablammo", system-ui;
  font-size: 2.9rem;
  color: #fff;
}

header .links {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 4;
  right: 0;
}

header .repo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.42rem;
  cursor: pointer;
  color: #ffffff;
}

/* end header items */
.game {
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
}
.hangman {
  width: 500px;
  height: 600px;
  background-image: url("../vectors/v7.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(0.6);
  transform-origin: center;
}

.letters {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 2rem;
}

.letter {
  background-color: rgb(231, 231, 231);
  border: solid 1px #000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #010101;
  padding: 0.34rem;
  margin: 0.45rem;
  border-radius: 0.45rem;
}

.hiddenword {
  display: flex;
  flex-direction: row;
  color:red;
  gap: 0.32rem;
}
.hiddenword .letter {
  width: 45px;
  height: 45px;
  background-color: aqua;
}
